doctype html
html
  head
    title Dance-Do-Dance
    block style 
    block scripts  
  body
    nav#navbar.top.botton 
            //- use for multiple classes
            ul 
                div#logo
                    img(src="static/logo.png", alt="logo", srcset="")
                li#home #[a#active(href = "/") Home]
                li #[a(href = "/") About]
                li #[a(href = "/") Services ]
                li #[a(href = "/") Class Info]
                li #[a(href = "/contact") Contact Us]
    block content
    footer#footer 
        div#txt 
            h2 &copy;Copyright www.DDDA.in   
            h2 Design and Developed by Tanish Anand 